<!-- Example for accounting.component.html -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col" *ngFor="let feature of features">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
          <div class="mb-3" style="font-size:2rem;">
            <i [class]="feature.icon"></i>
          </div>
          <h5 class="card-title text-center">{{ feature.title }}</h5>
          <p class="card-text text-center">{{ feature.desc }}</p>
          <a [routerLink]="feature.link" class="btn btn-primary mt-2 w-100" *ngIf="feature.link">
            Go to {{ feature.title }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>