<div class="auth-page">
  <h2>Sign Up</h2>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <button mat-raised-button color="primary">Create Account</button>
  </form>
  <p>Una akaunti? <a routerLink="/signin">Ingia hapa</a></p>
</div>